/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require mobile-angular-ui/dist/css/mobile-angular-ui-base
 *= require mobile-angular-ui/dist/css/mobile-angular-ui-desktop
 */

@media (min-width: 992px) {
  .navbar-brand-center {
    text-align: center;
  }
}

.angular-google-map-container { height: 400px; }

img {
  max-width: none;
}
