<div class="scrollable">
  <div class="scrollable-content">
    <div class="list-group">
      <div class="list-group-item">
        <font color="#0045d5"><h3><b><i>==行前小提醒==</i></b></h3></font>
        <ul>
          <li>全程禁止塗抹香水或配帶有香味的東西，尤其進入秋季以後，以免招來蜂類攻擊。</li><br>
          <li>遇當日或前後日有地震、颱風、大雨等狀況請勿上山，若當日有小雨也建議勿行，<br/>
          另午後請注意午後雷陣雨的狀況，要是見前方烏雲密布，儘速下山（某些岩稜沒什麼可遮雨的地方，站在稜線上只是當根避雷針）。</li><br>
          <li>帶背包，帶齊下列裝備，務必雙手空出，危急時絕對有用。要遮陽，用帽不用傘。</li><br>
          <li>初次爬山，前日勿熬夜，若道路岩稜路徑窄峭，嚴重懼高症者還是不要走。</li><br>
          <li>除了足跡及美好回憶，什麼都不留；除了攝影及聯絡方式，什麼都不取。</li>
        </ul>
      </div>

      <div class="list-group-item">
        <font color="#0045d5"><h3><b><i>==裝備備忘錄==</i></b></h3></font>
        <ul>
          <li>衣物
          舒適長褲&amp;衣物、運動鞋、襪子、遮陽帽、毛巾。<br/>
          P.S. 建議採用〝洋蔥式穿法〞：<br/>
          內層──排汗層。長袖或短袖的排汗衣<br/>
          中層──保暖層。依不同的季節可穿薄外套、帽T、毛衣、羽絨衣<br/>
          外層──防風層。雨衣或是更高級的防水透氣材質(例如GoreTex、PacLite…)
          </li>
          <li>雨具：雨衣、雨傘。</li>
          <li>隨身物品：水壺、手電筒、個人藥品（腸胃、外傷、個人疾病等）、防蚊液、簡單乾糧、證件、錢、手機、相機、電池或行動電源。</li>
          <li>求生工具：哨子、瑞士刀、指北針、地圖。</li>
        </ul>
      </div>


      <div class="list-group-item">
        <font color="#0045d5"><h3><b><i>==特別留意天氣情況==</i></b></h3></font>
        <ul>
          <li>十一月至二月 氣溫急降引致暴寒。風高物燥，易生山火。</li>
          <li>三月至四月 大霧可能引致迷途。</li>
          <li>五月至十一月 雷暴，大驟雨，水浸及山泥傾瀉。因高溫引致中暑。</li>
        </ul>
      </div>

    </div>
  </div>
</div>
