<div content-for="backButton">
  <div class="btn btn-navbar" ng-click="backToHome()">
    <i class="fa fa-chevron-left"></i> Back
  </div>
</div>

<div content-for="title">{{trail.name}}</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="list-group">
      <div class="list-group-item" ng-repeat="landscape in trail.landscapes"
        style="padding: 0">
        <img ng-src="{{landscape.photo}}" style="width: 100%; height: auto;" />
      </div>

      <div class="list-group-item">
        <h3>{{trail.name}}</h3>
        <p>
          {{trail.location}}
        </p>
        <p>
          {{trail.introduction}}
        </p>
      </div>

      <div class="list-group-item" ng-if="map">
        <google-map center="map.center" zoom="map.zoom">
          <marker coords="map.center"></marker>
        </google-map>
      </div>

      <div class="list-group-item" ng-if="trail.weather_url">
        <iframe ng-src="{{trail.weather_url}}" frameborder="0" width="100%"></iframe>
      </div>
    </div>
  </div>
</div>
